@import "~bootstrap/scss/bootstrap";
@import "./components/header";
@import "./pages/blogs.scss";
html,
body {
  margin: 8;
  padding: 8;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 100vh;
}

.content-page {
  padding: 0 24px;
}

h1 {
  color: red;
}
